.profile {
    height: 100%;
    background-color: var();
    color: var(--text);
}

#profile-btn {
    background-color: var(--sidebar);
    color: var(--text-button);
    /* padding: 7px;
    border: none;
    border-radius: 5px; */
}

#profile-btn:hover {
    background-color: var(--primary);
    transition: background-color .2s ease;
}

#preferences {
    display: flex;
}

#preferences > div {
    width: 75%;
}

.dados * input {
    background-color: var(--border);
}

@media (max-width: 892px) {
    #preferences {
        display: block;
    }

    #preferences form {
        margin-top: 5rem;
    }

    #preferences > div {
        width: 100%;
    }
}