<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header text-light p-4"  style="background-color: var(--sidebar);">
            <h1 class="fs-4 text-center fw-bold" id="form-title">Adicionar nova transação</h1>
        <!-- <input type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/> -->
        </div>
    
        <div class="modal-body p-4">

            <!-- Formulário de transações -->
            <form class="row g-1" [formGroup]="transactionsForm" (ngSubmit)="getTransactionsForm()">
                <div class="col-md-7">
                    <label for="amount" class="form-label">Montante</label>
                    <input type="number" class="form-control" id="amount" formControlName="amount" placeholder="Montante" required>
    
                </div>

                <div class="col-md-5">
                    <label for="type" class="form-label">Tipo</label>
                    <select class="form-select" id="type" formControlName="type" required>
                        <option value="receita">Receita</option>
                        <option value="despesa">Despesa</option>
                    </select>

                </div>


                <!-- <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
    </div> -->

                <div class="col-md-12">
                    <label for="category" class="form-label">Categoria</label>
                    <select class="form-select" id="category" formControlName="category" required>
                        <option value="" disabled>Selecione a categoria</option>
                        <option value="0">Salario</option>
                        <option value="1">Alimentação</option>
                        <option value="2">Transporte</option>
                    </select>            
                </div>
                
                <div class="col-md">
                    <label for="description">Descrição</label>
                    <textarea class="form-control" id="description" formControlName="description" placeholder=""></textarea>
                </div>
                <div class="form-buttons">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn text-light" id="add">Adicionar</button>
                </div>
            </form>

        </div>
    </div>
</div>