/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    --bg-body: #1509bc;
    --form-bg-color: #f1f1f1f1;
    --font: 20px;
    --text-button: #f1f1f1;
    --text: #000000;
    --text-title: #2563EB;
    --bg: #FFFFFF;
    --primary: #2563EB;
    --border: #E5E7EB; /* use components: layout, container-sidebar*/
    --sidebar: #1E3A8A;
    --bg-sidebar: #1E3A8A;
    --navbar: #FFFFFF;
    --receita: #22C55E;
    --despesas: #EF4444;
    --dashboard: #F8FAFC;
    --dashboard-padding: 18px;
    --dashboard-shadow: 3px 3px 15px var(--bg);
    --layout-border-radius: 15px;
    --bg-layout: #E5E7EB;

    --transactions: rgba(0, 89, 255, 0.137);
}

.dark-theme {
    --bg-body: #1E293B;
    --form-bg-color: #1E293B;
    --font: 20px;
    --text-button: #f1f1f1;
    --text: #FFFFFF;
    --text-title: #FFFFFF;
    --bg: #1E293B;
    --primary: #2563EB;
    --border: #E5E7EB; /* use components: layout, container-sidebar*/
    --sidebar: #1E3A8A;
    --bg-sidebar: #1E293B;
    --navbar: #FFFFFF;
    --receita: #22C55E;
    --despesas: #EF4444;

    --dashboard: #F8FAFC;
    --dashboard-padding: 18px;
    --dashboard-shadow: 3px 3px 15px var(--bg);
    --layout-border-radius: 15px;
    --bg-layout: #7576778e;

    --transactions: rgba(0, 89, 255, 0.137);
}

body {
    background-color: var(--form-bg-color);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: var(--font);
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Mudar a cor do texto dos gráficos svg gerados por ngxCharts */
.charts text {
    fill: var(--text);
}

#form {
    width: 550px;
    height: 550px;
    min-height: 550px;
    box-shadow: 0;
    -webkit-box-shadow: -1px -3px 300px 5px #f1f1f1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 6%;
}

#form .alert {
    height: 30px;
    display: flex;
    align-items: center;
}

#form-button {
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#form-button:hover {
    transition: .2s;
    opacity: .8
}


#form-button:disabled {
    background-color: rgba(10, 133, 255, 0.671);
    color: rgba(255, 255, 255, 0.788);
}

#form input {
    margin-bottom: -5px;
}

#footer-form {
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

#footer-form a {
    text-decoration: none;
}

#footer-form a:hover {
    text-decoration: underline;
}

.animate {
    animation: fadeInput 0.5s;
}

@keyframes fadeInput {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media  (max-width: 1790px) {
    #sidebar-content {
        width: 230px;
        transition: .3s;
    }
}

@media (max-width: 1817px) {
    .chart {
        scale: 0.9;
    }
}

/* Motores Webkit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 6px;               /* Largura da barra vertical */
}

::-webkit-scrollbar-track {
  background: var(--bg);       /* Cor de fundo da pista */
}

::-webkit-scrollbar-thumb {
  background: #888;          /* Cor do indicador de rolagem */
  border-radius: 5px;        /* Bordas arredondadas */
}

@media screen and (max-width: 1770px) {
    .chart {
        width: 100%;
    }    
}
