.sidebar {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--text-button);
}

.sidebar a {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-button);
}


ul {
    padding: 15px;
    list-style: none;
}

li{
    transition: background-color .2s;
    border-radius: 13px;
    padding: 10px 5px;
    display: flex;
    gap: 10px;
}

li:hover {
    background-color: var(--primary);
}

.logout {
    border-top: 2px solid;
}