.reports {
    overflow-y: auto;
}

.comparison p{
    margin-bottom: 7px;
}

header {
    display: flex;
}

#reports-card {
    display: flex;
    min-width: 75%;
}

#reports-card .card{
    background-color: var(--bg);
    color: var(--text);
}

.table-content {
    background-color: var(--bg);
    color: var(--text);
}

.table-content > table, th, td {
    padding: 8px;
}

.table-content > th, tr {
    border-bottom: 1px solid var(--border);
}

#report-expenses {
    display: flex;
}

.income, .expense {
    width: 50%;
}

#comp {
    display: flex;
}

#comp-first-child {
    gap: 9px;        
    display: flex;
    padding: 2.8rem;
    border: 1px solid var(--border);
}


@media (max-width: 1420px) {
    #comp {
        display: block;
    }

    #comp-child {
        margin-top: 9px;
    }
}

@media (max-width: 1230px) {
    #report-expenses {
        display: block;
    }

    .income, .expense {
        width: 100%;
    }

    .income {
        margin-top: 35px;
    }
}

@media (max-width: 720px) {
    header {
        display: block;    
    }

    #reports-card {
        width: 100%;
    }
}

@media (max-width: 560px) {
    #comp-first-child {
        display: block;
        padding: 5px;
        border: none;
    }

    #comp-first-child > div {
        margin-top: 9px;
    }
}
