/* .categories {
} */

header {
    /* background-color: var(--transactions); */
    border-bottom: 1px solid var(--border);
    padding: var(--dashboard-padding);
    align-items: center;
}

.categories-list {
    border: 5px solid transparent; 
    box-shadow: var(--dashboard-shadow);
    height: calc(100% - 116px);
    /* padding: var(--dashboard-padding);  */
    border-radius: var(--layout-border-radius);
    display: flex;
    justify-content: center;
    scrollbar-color: var(--bg);
}

/* Motores Webkit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 6px;               /* Largura da barra vertical */
}

::-webkit-scrollbar-track {
  background: var(--bg);       /* Cor de fundo da pista */
}

::-webkit-scrollbar-thumb {
  background: #888;          /* Cor do indicador de rolagem */
  border-radius: 5px;        /* Bordas arredondadas */
}

table {
    width: 100%;
}

table, th, td {
    padding: 5px;
    border: 1px solid;
    border-color: rgba(173, 216, 230, 0.219);
}

tbody tr:nth-child(even) {
    background-color: rgba(173, 216, 230, 0.219);
}

#rename-btns button:hover {
    opacity: .8
}

@media (max-width: 730px) {
    .categories {
        font-size: medium;
    }
}