/* .categories {
} */

header {
    /* background-color: var(--transactions); */
    border: 1px solid var(--border);
    border-radius: var(--layout-border-radius);
    padding: var(--dashboard-padding);
    align-items: center;
}

.categories-list {
    border: 25px solid transparent; 
    box-shadow: var(--dashboard-shadow);
    height: calc(100% - 116px);
    /* padding: var(--dashboard-padding);  */
    border-radius: var(--layout-border-radius);
    display: flex;
    justify-content: center;
    scrollbar-color: var(--bg);
}

/* Motores Webkit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 6px;               /* Largura da barra vertical */
}

::-webkit-scrollbar-track {
  background: var(--bg);       /* Cor de fundo da pista */
}

::-webkit-scrollbar-thumb {
  background: #888;          /* Cor do indicador de rolagem */
  border-radius: 5px;        /* Bordas arredondadas */
}

.container-list {
    /* width: 100%; */
    /* border: 1px solid; */
    /* justify-content: center; */
    /* flex: 1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
}

table {
    /* display: none; */
    width: 100%;
    /* height: 10%; */
}

table, th, td {
    padding: 5px;
    border: 1px solid;
    border-color: rgba(173, 216, 230, 0.219);
}

tbody tr:nth-child(even) {
    background-color: rgba(173, 216, 230, 0.219);
}

#rename-btns button:hover {
    opacity: .8
}