<div class="transactions">
    <header class="mb-2 d-flex justify-content-between">
        <div>
            <h3 style="color: var(--text-title);">TRANSAÇÕES</h3>
            <small>Gerencie todas as suas <span class="fw-bold text-success">receitas</span> e <span class="text-danger fw-bold">despesas</span> </small>
        </div>

        <div class="saldo">
            <small class="fs-6"><span>Saldo: </span></small>
            <span class="fw-bold" style="color: var(--primary);">{{authService.user()?.saldo}} kz</span>
        </div>

        <div class="add-transactions">
            <!-- Botão do modal -->
            <button type="button" (click)="openModal(null)" class="btn btn-primary" >
                Adicionar
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <app-form-transactions></app-form-transactions>
        </div>
    </header>

    <div class="filters">
        <div class="ms-4">
            <h3>Filtrar</h3>
        </div>
        <div class="filter fs-6">
            <input type=button class="border rounded-2" (click)="filters($event)" value="Todos">

            <select class="border" (click)="filters($event)" [formControl]="filterType" required>
                <option value="" disabled>Tipo</option>
                <option value="receita">Receita</option>
                <option value="despesa">Despesa</option>
            </select>

            <select class="border" (click)="filters($event)" [formControl]="filterCategory" required>
                <option value="" disabled>Selecione a categoria</option>
                
                @for (categories of categoryService.categories(); track $index) {
                    <option [value]="categories.name"> {{categories.name}} </option>
                }
            </select>        

            <select class="border" (click)="filters($event)" [formControl]="filterDate" required>
                <option value="" disabled>Mês</option>

                @for (transactions of transactionService.transactions(); track $index) {
                    <option [value]="transactions.amount"> {{transactions.date}} </option>
                }
            </select>
        </div>
    </div>

    <div class="transactions-list">
        <div class="container-table rounded-3">
        @if (transactionService.transactions()) {
            <table animate.enter="enter-animation">
                <thead>
                    <tr class="text-light text-center" style="background-color: var(--sidebar);">
                        <th></th>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Montante</th>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                   @for (transaction of transactionService.transactions(); track $index) {
                       <tr>
                           <!-- <td> {{ $index }} </td> -->
                            <td class="text-center"> {{ (transactionService.transactions()?.length! - $index) }} </td>
                            <td> {{ transaction.category }} </td>
                            @if(transaction.type === 'receita') {
                                <td><span class="text-success"><i class="fs-6 bi bi-graph-up-arrow"></i></span> {{ transaction.type }}</td>
                                <td><span class="text-success">+{{ transaction.amount }}</span> kz</td>
                            }@else {
                                <td><span class="text-danger"><i class="fs-6 bi bi-graph-down-arrow"></i></span> {{ transaction.type }}</td>
                                <td><span class="text-danger">-{{ transaction.amount }}</span> kz</td>
                            }
                            <td> {{ transaction.description }} </td>
                            <td class="text-center"> {{ transaction.updatedAt | date: 'dd/MM/yyyy' }} </td>
                            <td class="d-flex justify-content-evenly">
                                <button (click)="openModal(transaction)" class="border btn" style="color: var(--text);">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button (click)="deleteTransaction(transaction._id)" class="border btn text-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                   }
                </tbody>
            </table>
            <div id="no-transactions" class="d-none text-center"></div>
        }@else {
            <div class="message">
                <h2 style="color: var(--primary);">As suas transações apareceram aqui</h2>
            </div>
        }
        </div>
    </div>
</div>