<div class="dashboard w-100 h-100">

    <div id="cards-container">
        <div class="cards border-success">
            <div class="text-tracker">
                Receita total
            </div>
            <div class="text-success">
                <strong>AOA {{ reportService.reports()?.total_Entrado }}</strong>
            </div>
        </div>

        <div class="cards border-danger">
            <div class="text-tracker">Despesa total</div>

            <div class="text-danger"><strong>AOA {{ reportService.reports()?.total_Saido }} </strong></div>
        </div>

        <div class="cards border-primary">
            <div class="text-tracker">Saldo</div>

            <div class="text-primary"><strong>AOA {{ reportService.reports()?.saldo }}</strong> </div>

        </div>
    </div>

    <div id="graficos">
        <div id="circular">
            <app-category-chart></app-category-chart>
        </div>

        <div id="linear">
            <app-mounthly-chart></app-mounthly-chart>
        </div>
    </div>
</div>