<div class="dashboard w-100 h-100">

    <div id="cards-container">
        <div class="cards border-success">
            <div>
                Receitas
            </div>
            <div class="text-success">
                AOA {{ reports()?.total_Entrado }}
            </div>
        </div>

        <div class="cards border-danger">
            <div>Despesas</div>

            <div class="text-danger">AOA {{ reports()?.total_Saido }} </div>
        </div>

        <div class="cards border-primary">
            <div>Saldo atual</div>

            <div class="text-primary">AOA {{ reports()?.saldo }} </div>

        </div>
    </div>

    <div id="graficos">
        <div id="angular">
            <h1>Grafico angular</h1>
        </div>

        <div id="barras">
            <h1>Grafico de barras</h1>
        </div>
    </div>
</div>